musiclands-code/Temp
musiclands-code/Temp/*
musiclands-code/Library/metadata
musiclands-code/Library/ShaderCache
musiclands-code/Assets/Resources/cache/*
musiclands-code/Assets/Standard Assets
musiclands-code/Assets/Resources/conf/7digital
musiclands-code/Assets/Resources/conf/7digital.meta
