musiclands-code/Temp
musiclands-code/Temp/*
musiclands-code/Library/metadata
musiclands-code/Library/ShaderCache
musiclands-code/Assets/Resources/cache/*
musiclands-code/Assets/Standard Assets
musiclands-code/Assets/Resources/conf/7digital
musiclands-code/Assets/Resources/conf/7digital.meta
musiclands-code/Assets/Resources/conf/gpm
musiclands-code/Assets/Resources/conf/gpm.meta
latex/vzorec_dip_Seminar — EXCLUDE THIS
